IIDX30gameSystem(status="0")
  arena_schedule
    phase(__type="u8") 2
    start(__type="u32") 1605784800
    end(__type="u32") 4102326000
  arena_music_difficult 
    play_style(__type="s32") 0
    arena_class(__type="s32") -1
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") 0
  arena_music_difficult 
    play_style(__type="s32") 1
    arena_class(__type="s32") -1
    low_difficult(__type="s32") 1
    high_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 1
    force_music_list_id(__type="s32") 0
  arena_cpu_define 
    play_style(__type="s32") 0
    arena_class(__type="s32") -1
    grade_id(__type="s32") 18
    low_music_difficult(__type="s32") 8
    high_music_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 0
  arena_cpu_define 
    play_style(__type="s32") 1
    arena_class(__type="s32") -1
    grade_id(__type="s32") 18
    low_music_difficult(__type="s32") 8
    high_music_difficult(__type="s32") 12
    is_leggendaria(__type="bool") 0
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 2
    low_arena_class(__type="s32") 0
    high_arena_class(__type="s32") 19
  maching_class_range 
    play_style(__type="s32") 0
    matching_class(__type="s32") 1
    low_arena_class(__type="s32") 0
    high_arena_class(__type="s32") 19
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 2
    low_arena_class(__type="s32") 0
    high_arena_class(__type="s32") 19
  maching_class_range 
    play_style(__type="s32") 1
    matching_class(__type="s32") 1
    low_arena_class(__type="s32") 0
    high_arena_class(__type="s32") 19
  arena_force_music 
    play_style(__type="s32") 0
    force_music_list_id(__type="s32") 0
    index(__type="s32") 0
    music_id(__type="s32") 1000
    note_grade(__type="s32") 0
    is_active(__type="bool") 0
  arena_force_music 
    play_style(__type="s32") 1
    force_music_list_id(__type="s32") 0
    index(__type="s32") 0
    music_id(__type="s32") 1000
    note_grade(__type="s32") 0
    is_active(__type="bool") 1
  CommonBossPhase(val=boss)
  Event1InternalPhase(val=event_1_internal)
  ExtraBossEventPhase(val=extra_boss)
  isNewSongAnother12OpenFlg(val="1")
  gradeOpenPhase(val="2")
  isEiseiOpenFlg(val="1")
  WorldTourismOpenList(val="255")
  BPLBattleOpenPhase(val="3")
